<h1>Profil Client</h1>

<p>
    <strong>user</strong> : <%= user%> <br/>
    <strong>id</strong> : <%= user._id%> <br/>
    <strong>email</strong> : <%= user.username%> <br/>
    <strong>password</strong> : <%= user.password%> <br/>
</p>