<h3>List Items</h3>
{{item}}
<div>

    <table class="table">
        <thead>
            <tr>
                <th>Object ID</th>
                <th>Cat_id</th>
                <th>name</th>
                <th>action</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody><!-- content._id as content.name-->
        <tr>
            <td><input class="form-control" ></td>
            <td>
                <select ng-model="item.cat" ng-options=" cat._id as cat.name for cat in cats"></select>
            </td>
            <td><input class="form-control" ng-model="item.name"></td>
            <td><button class="btn btn-primary" ng-click="createItem()">Add Item</button></td>
            <th><button class="btn btn-info" ng-click="updateItem()">Update</button> &nbsp; &nbsp;
                <button class="btn btn-info" ng-click="deselectItem()">Clear</button>
            </th>
        </tr>
            <tr ng-repeat="item in items">
                <td>{{item._id}}</td>
                <td>{{item.cat_id}}</td>
                <td>{{item.name}}</td>
                <td><button class="btn btn-warning" ng-click="editItem(item._id)">Edit</button></td>
                <td><button class="btn btn-danger" ng-click="removeItem(item._id)">Remove</button> &nbsp; &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr/>
<h3>List Cats</h3>
{{cats}}


